@import 'modules/navbar';
@import 'modules/dark';
@import 'modules/cards';
@import 'modules/dropdown';

body, ::placeholder {
  font-family: 'Rubik', sans-serif !important;
}

.section, html {
  background-color: rgb(238, 238, 238);
  min-height: 33vh;
}

.refresh {
  cursor: pointer;
  font-size: smaller;
}